<div class = "m-3">
  <h1> Welcome <%= @user.first_name %> </h1>
  <h1> Here are all your bookings </h1>

<ul>
  <% @bookings.each do |booking| %>
    <li> <strong> Camera Name: </strong> <%= booking.camera.title %><strong>  Start Date:</strong> <%= booking.start_date%><strong>  End Date: </strong> <%= booking.end_date%></li>

  <% end %>
</ul>

  <button type="button" class="btn btn-info btn-lg px-4 gap-3 mb-2"><%= link_to "Back to Cameras", cameras_path%></button>

</div>
