<div>
  <h1> All cameras locally </h1>

<ul>
  <% @cameras.each do |camera| %>
    <li> <%= link_to camera.title, camera_path(camera)%> </li>
  <% end %>
</ul>

  <button type="button" class="btn btn-primary btn-lg px-4 gap-3 mb-2"><%= link_to "Add Listing", new_camera_path%></button>
  <button type="button" class="btn btn-info btn-lg px-4 gap-3 mb-2"><%= link_to "Back to home", root_path%></button>

<%# geocoding stuff %>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>

<%#
<div class="card-container">
 <div class="card">
<div class="image">
<%= cl_image_tag("canon_5d_mkiv_xgj7xz", width: 300, height: 300, crop: :fill) %>
<%# </div>
<div class="details-container">
<div class="title"></div>
<div class="description"></div>
</div>
</div>
</div>
%>
