<div class = "show-container">
  <h1>Here are details for "<%= @camera.title %>"</h1>

<h2>Title:</h2> <%= @camera.title %>
<h2>Description:</h2> <%= @camera.description %>
<h2>Price:</h2> <%= @camera.price %>
<h2>Rented by:</h2>
  <%= @user.first_name %>

  <div>
    <button type="button" class="btn btn-dark"><%= link_to "Back to Cameras", cameras_path%></button>
    <button type="button" class="btn btn-dark"><%= link_to "Rent this Camera out", cameras_path%></button>
  </div>
</div>
