<!DOCTYPE html>
<html>
  <head>
    <title>Snappybara</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%# navbar %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
  <%# <%= link_to root_path, class: "navbar-brand" do %>
    <%# <i class="fas fa-home"></i> SnappyBara
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav ms-auto">
        <%# <link needs to be corrected> %>
          <li class="nav-item">
        <%= link_to new_user_session_url, class: "nav-link" do %>
          <i class="fa-solid fa-right-to-bracket"></i> Login
        <% end %>

      <li class="nav-item">
        <%= link_to root_path, class: "nav-link" do %>
          <i class="fas fa-home"></i> Home
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to cameras_path, class: "nav-link" do %>
          <i class="fas fa-camera"></i> Cameras
        <% end %>
         <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" >
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">My account</a>
             <%# <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a> %>
<%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>            </div>
          </li>
    </ul>
  </div>
</nav>

  <%# navbar %>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
